body {
    background-color: burlywood;
}

.newPosts {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cornsilk;
    font-size: small;
    
}
.newPosts div {
    padding-bottom: 20px;
    padding-top: 20px;
    font-style: italic;
    
}